* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: auto;
  width: 1000px;
}
.header-container {
  display: flex;
  padding: 20px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #ccf2ff;
}
.search-input {
  width: 400px;
  height: 30px;
}
.search-input::placeholder {
  color: #cccccc;
  font-style: italic;
}
.arrow-box {
  position: fixed;
  top: 0;
  right: 100px;
  display: none;
  background-color: wheat;
}
.search-button {
  height: 30px;
}
.search-icon {
  height: 15px;
  padding: 3px;
}
.down-search-icon {
  transform: rotate(180deg);
}
/* navigator */
.nav-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.nav-box {
  width: 20%;
  padding: 20px 0;
  text-align: center; 
  font-size: 25px;
}
.all-box {
  background-color: #ccf2ff;
}
.todo-box {
  background-color: #ff8080;
}
.active-box {
  background-color: #ffff80;
}
.complete-box {
  background-color: #80ff80;
}
.counter {
  background-color: transparent;
}
.list-container {
  width: 100%;
  border-top: 1px solid  #ccf2ff;
  border-bottom: 1px solid  #ccf2ff;
}
/* list part */
.list {
  display: flex;
  padding: 10px 0;
}
.list-head {
  background-color: #cccccc;
}
.sort-icon {
  cursor: pointer;
}
.task-number,
.task-content,
.status,
.endTime,
.buttons-box {
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
}
.task-number {
  width: 15%;
}
.task-content {
  width: 45%;
}
.status{
  width: 10%;
}
.endTime {
  width: 15%;
}
.buttons-box {
  width: 15%;
}
.button {
  padding: 5px 10px;
  font-size: 15px;
  border: none;
  background-color: #bfbfbf;
  cursor: pointer;
}
.list:nth-child(even) {
  background-color: #ccf2ff;
}
.highlight {
  background-color: yellow;
}
.highlight2 {
  background-color: coral;
}

/* alert window */
.bg-filter {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e6e6e6;
  opacity: 0.7;
}
.alert {
  display: none;
  position: fixed;
  padding: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 150px;
  text-align: center;
  background-color: white;
}
.alert-question {
  height: 70%;
}

