* {
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  width: 1000px;
}
.nav-container {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.nav-box {
  width: 20%;
  height: 50px;
  line-height: 50px;
  border: 1px solid pink;
  text-align: center; 
}
.list-container {
  width: 100%;
  border: 1px solid;
}
/* list part */
.list {
  display: flex;
  padding: 10px 0;
}
.task-number,
.task-content,
.status,
.buttons-box {
  padding: 0 10px;
}
.task-number {
  width: 15%;
}
.task-content {
  width: 60%;
}
.status{
  width: 10%;
}
.buttons-box {
  width: 15%;
}
.list:nth-child(even) {
  background-color: blanchedalmond;
}
